server:
  port: 8187
  servlet:
    context-path: /winter-auth
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./users;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false
jwt:
  secret: Ymj5peSjMsSe77uNCyPHqPcO5tOI5bQIZciJBATt6ZXy
  lifetime: 600000
